@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans KR';
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
header {
    width: 100%;
    min-width: 1024px;
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    z-index: 100;
}
#headerBar {
    height: 60px;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.logoArea {
    float: left;
    margin: 0;
}
.logoLink {
    display: block;
    overflow: hidden;
}
.logo {
    font-size: 20px;
    height: 20px;
    margin: 20px 0;
}
.navi {
    display: inline-block;
    vertical-align: top;
}
.naviList {
    float: left;
}
.naviList li{
    display: inline;
    margin: 20px;
}
.lang {
    float: right;
}
.lang li {
    display: inline;
    margin: 3px;
}
#unprepared {
    color: gray;
}
section {
    box-sizing: border-box;
    min-width: 1024px;
    clear: both;
}
#home {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 120px;
}
.ustSlogan {
    font-size: 40px;
}
.giphy-embed {
    pointer-events: none;
    cursor: default;
}
.gifSrc {
    height: 20px;
}
.gifSrc a {
    display: block;
    text-align: right;
    font-size: 10px;
    color: silver;
}
footer {
    color: gray;
    font-size: 11px;
    text-align: center;
    padding: 11px;
    border-top: 1px solid #e5e5e5;
}