@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

body {
    margin: 0;
}
header {
    display: block;
}
header img{
    width: 200px;
    height: 100px;
    padding: 10px;
}
#viewTop{
    display: grid;
    grid-template-columns: 220px 1fr;
}
.menu_bar {
    display: block;
    margin: 0;
    padding: 10px;
    line-height: 100px;
}
.menu_bar li {
    margin: 50px;
    list-style-type: none;
    display: inline;
    font-family: 'Flamenco';
}
.menu_bar a {
    color: black;
    font-size: 20px;
    text-decoration-line: none;
}
.viewMiddle {
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
    font-size: 50px;
    font-family: 'Flamenco';
    margin: 0;
    padding: 50px;
    height: 100vh;
}
.viewBottom {
    color: gray;
    font-size: 11px;
    text-align: center;
    padding: 11px;
}
