@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');


/* 기본 */ 
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #151515;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration-line: none;
    color: inherit;
}

/* 헤더 */
header {
    position: sticky;
    height: 60px;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}
#gnb {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}
.logo {
    padding: 17.5px 0;
}
.logo a {
    font-size: 22px;
    font-family: 'Megrim';
    font-weight: bold;
}
.navBar {
    display: flex;
    padding: 0;
    margin: 0;
}
.navList {
    padding: 17px 0;
    margin: 0 16px;
}
.navList:hover {
    border-bottom: 2px solid #151515;
}
.langBar {
    display: flex;
    padding: 0;
    margin: 0;
}
.langList {
    padding: 16px 0;
    margin: 0 8px;
}
.langList:hover {
    border-bottom: 2px solid #151515;
}
.menuBtn {
    display: none;
    position: absolute;
    right: 24px;
    top: 6px;
    font-size: 30px;
    color: black;
}
#unprepared {
    color: gray;
}

/* 섹션 */
section {
    top: 60px;
    background-color: #f0f4f5;
    border-bottom: 1px solid #e5e5e5;
}
.indexMain {
    width: 100%;
}
.indexMainVideo {
    width: 100%;
    background-image: url("../src/space.jpg");
    background-size: cover;
}
.indexMainText {
    display: block;
    position: absolute;
    top: 3em;
    margin: 0 3em;
    font-size: 3em;
}
.indexMainText p {
    text-align: center;
    color: rgb(255, 255, 255);
}
.mobMain {
    display: none;
}
/* 어바웃섹션 */
.aboutBar {
    width: 100%;
}
#aboutBarPic {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-image: url('../src/space.jpg');
    background-size: cover;
}
.aboutBarText {
    margin: 0;
    padding: 60px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}
.aboutContent {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.aboutContentBox {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px 20px 10px 20px;
    padding: 20px;
}
.aboutContentBoxAns {
    font-weight: lighter;
}
#bulb {
    height: 1000px;
    background-image: url("../src/bulb.jpg");
    background-size: cover;
}
/* 푸터 */
footer {
    max-width: 1024px;
    margin: 0 auto;
    color: #808B96;
}
footer p {
    font-size: 12px;
}
.footerArea {
    margin: 20px;
}
.footerBar {
    display: flex;
    justify-content: space-between;
}
.footerLogo {
    font-family: "Megrim";
}

/* 모바일 쿼리*/
@media screen and (max-width:1024px) {
    #gnb {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .nav {
        width: 100%;
        display: none;
        background-color: rgb(255, 255, 255);
    }
    .navBar {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navList {
        width: 100%;
        color: #151515;
        text-align: center;
    }
    .navList:hover {
        color: #f0f4f5;
        background-color: #151515;
    }
    .lang {
        display: none;
    }
    .menuBtn {
        display: block;
    }
    .nav.active {
        display: flex;
    }
    .footerBar {
        flex-direction: column;
    }

    .indexMain {
        display: none;
    }
    .mobMain {
        display: block;
        width: 100%;
    }
    #mobMainPic {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        background-image: url('../src/space.jpg');
        background-size: cover;
    }
    .mobMainText {
        margin: 0;
        padding: 50% 0;
        font-size: 2.5rem;
        text-align: center;
        color: rgb(255, 255, 255);
        width: 100%;
    }
    #bulb {
        height: 450px;
    }
}